@tailwind base;
@tailwind components;
@tailwind utilities;

.label-color label::after {
    color: black !important;
}

.button-no-hover[data-hover=true] {
    background-color: inherit !important;
}

.Toastify__toast-body {
    align-items: center !important;
    display: grid !important;
    justify-content: center !important;
}

.Toastify__toast-body > div:last-child {
    color:rgba(255, 255, 255, 1) !important;
}

.Toastify__toast {
    border-radius: 0 !important; /* Remove rounded corners */
  }
  
  
  .Toastify__toast-container {
    border-radius: 0 !important; /* Remove rounded corners from the container */
  }

  .Toastify__toast-theme--colored.Toastify__toast--error {

    background-color: rgba(243, 18, 96, 1) !important;
}   
.Toastify__toast-theme--colored.Toastify__toast--success {
    background: #A2E9C1 !important;
}
.Toastify__toast-body > div:last-child {
    color: black !important;
}

/* Custom scrollbar styles */
.scrollable-div {
    max-height: 1500px;
    overflow-y: auto;
  }
  
  .scrollable-div::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollable-div::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .scrollable-div::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
  }
  
  .scrollable-div::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
  }