@tailwind base;
@tailwind components;
@tailwind utilities;

.label-color label::after {
    color: black !important;
}

.button-no-hover[data-hover=true] {
    background-color: inherit !important;
}

.Toastify__toast-body {
    align-items: center !important;
    display: grid !important;
    justify-content: center !important;
}

.Toastify__toast-body > div:last-child {
    color:rgba(255, 255, 255, 1) !important;
}

.Toastify__toast {
    border-radius: 0 !important; /* Remove rounded corners */
  }
  
  
  .Toastify__toast-container {
    border-radius: 0 !important; /* Remove rounded corners from the container */
  }

  .Toastify__toast-theme--colored.Toastify__toast--error {

    background-color: rgba(243, 18, 96, 1) !important;
}   
.Toastify__toast-theme--colored.Toastify__toast--success {
    background-color: #00b37e !important;
}

  