.validation-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
  grid-gap: 1px; /* Space between items */
  margin-top: 10px;
}

.validation-row {
  display: flex;
  align-items: flex-start; /* Align items to the start */
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

.validation-icon {
  display: flex; /* Enable flexbox on the icon */
  align-items: center; /* Center icon vertically */
  justify-content: center; /* Center icon horizontally, if needed */
  width: 18px; /* Adjust size as needed */
  height: auto; /* Adjust size as needed */
  margin-right: 8px; /* Adjust space between icon and text */
}

@media (max-width: 768px) {
  .validation-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
  }
}

@media (max-width: 480px) {
  .validation-container {
    grid-template-columns: 1fr; /* 1 column on small screens */
  }
}