{
  "openapi": "3.0.1",
  "info": { "title": "OpenAPI definition", "version": "v0" },
  "servers": [
    {
      "url": "https://ec2-3-13-148-183.us-east-2.compute.amazonaws.com:8080/iam",
      "description": "Generated server url"
    }
  ],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/workspace": {
      "put": {
        "tags": ["open-cdxiam-workspace-rest-controller"],
        "operationId": "updateWorkspace",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkspaceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateWorkspaceResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["open-cdxiam-workspace-rest-controller"],
        "operationId": "createWorkspace",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkspaceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWorkspaceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "put": {
        "tags": ["open-cdxiam-user-rest-controller"],
        "operationId": "updateIamUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateIamUserRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateIamUserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organization": {
      "put": {
        "tags": ["open-cdxiam-organization-rest-controller"],
        "operationId": "updateOrganization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateOrganizationResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["open-cdxiam-organization-rest-controller"],
        "operationId": "createOrganization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrganizationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workspace/list": {
      "post": {
        "tags": ["open-cdxiam-workspace-rest-controller"],
        "operationId": "listWorkspaces",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWorkspacesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/signup": {
      "post": {
        "tags": ["open-cdxiam-user-rest-controller"],
        "operationId": "signUp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SignUpRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SignUpResponse" }
              }
            }
          }
        }
      }
    },
    "/user/password": {
      "post": {
        "tags": ["open-cdxiam-user-rest-controller"],
        "operationId": "changePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ChangePasswordRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangePasswordResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "tags": ["open-cdxiam-user-rest-controller"],
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LoginRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LoginResponse" }
              }
            }
          }
        }
      }
    },
    "/user/list": {
      "post": {
        "tags": ["open-cdxiam-user-rest-controller"],
        "operationId": "listIamUsers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ListIamUsersRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListIamUsersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/exists": {
      "post": {
        "tags": ["open-cdxiam-user-rest-controller"],
        "operationId": "userExists",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserExistsRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserExistsResponse" }
              }
            }
          }
        }
      }
    },
    "/protectPrivacy": {
      "post": {
        "tags": ["open-cdx-rest-protector-controller"],
        "operationId": "postProtectPrivacy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivacyProtectionDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SecurityResponse" }
              }
            }
          }
        }
      }
    },
    "/organization/list": {
      "post": {
        "tags": ["open-cdxiam-organization-rest-controller"],
        "operationId": "listOrganizations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrganizationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/monitorRealTime": {
      "post": {
        "tags": ["open-cdx-rest-protector-controller"],
        "operationId": "postMonitorRealTime",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeMonitoringDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SecurityResponse" }
              }
            }
          }
        }
      }
    },
    "/detectAnomalies": {
      "post": {
        "tags": ["open-cdx-rest-protector-controller"],
        "operationId": "postDetectAnomalies",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnomalyDetectionDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SecurityResponse" }
              }
            }
          }
        }
      }
    },
    "/authorize": {
      "post": {
        "tags": ["open-cdx-rest-protector-controller"],
        "operationId": "postAuthorize",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizationControlDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SecurityResponse" }
              }
            }
          }
        }
      }
    },
    "/analyzeUserBehavior": {
      "post": {
        "tags": ["open-cdx-rest-protector-controller"],
        "operationId": "postAnalyzeUserBehavior",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserBehaviorAnalysisDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SecurityResponse" }
              }
            }
          }
        }
      }
    },
    "/workspace/{id}": {
      "get": {
        "tags": ["open-cdxiam-workspace-rest-controller"],
        "operationId": "getWorkspaceDetailsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkspaceDetailsByIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/{id}": {
      "get": {
        "tags": ["open-cdxiam-user-rest-controller"],
        "operationId": "getIamUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetIamUserResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["open-cdxiam-user-rest-controller"],
        "operationId": "deleteIamUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteIamUserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/verify/{id}": {
      "get": {
        "tags": ["open-cdxiam-user-rest-controller"],
        "operationId": "verifyEmailIamUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "string" } }
            }
          }
        }
      }
    },
    "/user/current": {
      "get": {
        "tags": ["open-cdxiam-user-rest-controller"],
        "operationId": "currentUser",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CurrentUserResponse" }
              }
            }
          }
        }
      }
    },
    "/organization/{id}": {
      "get": {
        "tags": ["open-cdxiam-organization-rest-controller"],
        "operationId": "getOrganizationDetailsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrganizationDetailsByIdResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Department": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "employees": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Employee" }
          }
        }
      },
      "EmailAddress": {
        "type": "object",
        "properties": {
          "email": { "type": "string" },
          "type": {
            "type": "string",
            "enum": [
              "EMAIL_TYPE_NOT_SPECIFIED",
              "EMAIL_TYPE_PERSONAL",
              "EMAIL_TYPE_WORK",
              "EMAIL_TYPE_OTHER",
              "UNRECOGNIZED"
            ]
          }
        }
      },
      "Employee": {
        "type": "object",
        "properties": {
          "employeeId": { "type": "string" },
          "name": { "$ref": "#/components/schemas/FullName" },
          "title": { "type": "string" },
          "phoneNumbers": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PhoneNumber" }
          },
          "email": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/EmailAddress" }
          }
        }
      },
      "FullName": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "firstName": { "type": "string" },
          "middleName": { "type": "string" },
          "lastName": { "type": "string" },
          "suffix": { "type": "string" }
        }
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "number": { "type": "string" },
          "type": {
            "type": "string",
            "enum": [
              "PHONE_TYPE_NOT_SPECIFIED",
              "PHONE_TYPE_MOBILE",
              "PHONE_TYPE_HOME",
              "PHONE_TYPE_WORK",
              "PHONE_TYPE_FAX",
              "PHONE_TYPE_OTHER",
              "UNRECOGNIZED"
            ]
          }
        }
      },
      "Timestamp": {
        "type": "object",
        "properties": {
          "seconds": { "type": "integer", "format": "int64" },
          "nanos": { "type": "integer", "format": "int32" }
        }
      },
      "UpdateWorkspaceRequest": {
        "type": "object",
        "properties": {
          "workspace": { "$ref": "#/components/schemas/Workspace" }
        }
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "organizationId": { "type": "string" },
          "createdDate": { "$ref": "#/components/schemas/Timestamp" },
          "location": { "type": "string" },
          "manager": { "type": "string" },
          "capacity": { "type": "integer", "format": "int32" },
          "facilities": {
            "type": "array",
            "properties": {
              "underlyingElements": {
                "type": "array",
                "items": { "type": "object" }
              },
              "unmodifiableView": {
                "type": "array",
                "properties": {
                  "underlyingElements": {
                    "type": "array",
                    "items": { "type": "object" }
                  },
                  "empty": { "type": "boolean" },
                  "first": { "type": "string" },
                  "last": { "type": "string" }
                },
                "items": { "type": "string" }
              },
              "empty": { "type": "boolean" },
              "first": { "type": "string" },
              "last": { "type": "string" },
              "modifiable": { "type": "boolean" }
            },
            "items": { "type": "string" }
          },
          "workspaceType": { "type": "string" },
          "workspaceImageUrls": {
            "type": "array",
            "properties": {
              "underlyingElements": {
                "type": "array",
                "items": { "type": "object" }
              },
              "unmodifiableView": {
                "type": "array",
                "properties": {
                  "underlyingElements": {
                    "type": "array",
                    "items": { "type": "object" }
                  },
                  "empty": { "type": "boolean" },
                  "first": { "type": "string" },
                  "last": { "type": "string" }
                },
                "items": { "type": "string" }
              },
              "empty": { "type": "boolean" },
              "first": { "type": "string" },
              "last": { "type": "string" },
              "modifiable": { "type": "boolean" }
            },
            "items": { "type": "string" }
          },
          "usagePolicy": { "type": "string" },
          "availabilitySchedule": { "type": "string" },
          "departments": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Department" }
          },
          "created": { "$ref": "#/components/schemas/Timestamp" },
          "modified": { "$ref": "#/components/schemas/Timestamp" },
          "creator": { "type": "string" },
          "modifier": { "type": "string" }
        }
      },
      "UpdateWorkspaceResponse": {
        "type": "object",
        "properties": {
          "workspace": { "$ref": "#/components/schemas/Workspace" }
        }
      },
      "IamUser": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "systemName": { "type": "string" },
          "username": { "type": "string" },
          "emailVerified": { "type": "boolean" },
          "status": {
            "type": "string",
            "enum": [
              "IAM_USER_STATUS_UNSPECIFIED",
              "IAM_USER_STATUS_ACTIVE",
              "IAM_USER_STATUS_INACTIVE",
              "IAM_USER_STATUS_DELETED",
              "UNRECOGNIZED"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "IAM_USER_TYPE_UNSPECIFIED",
              "IAM_USER_TYPE_REGULAR",
              "IAM_USER_TYPE_SYSTEM",
              "IAM_USER_TYPE_TRIAL",
              "UNRECOGNIZED"
            ]
          },
          "organizationId": { "type": "string" },
          "workspaceId": { "type": "string" },
          "created": { "type": "string" },
          "modified": { "type": "string" },
          "creator": { "type": "string" },
          "modifier": { "type": "string" }
        }
      },
      "UpdateIamUserRequest": {
        "type": "object",
        "properties": { "iamUser": { "$ref": "#/components/schemas/IamUser" } }
      },
      "UpdateIamUserResponse": {
        "type": "object",
        "properties": { "iamUser": { "$ref": "#/components/schemas/IamUser" } }
      },
      "Address": {
        "type": "object",
        "properties": {
          "countryId": { "type": "string" },
          "addressPurpose": {
            "type": "string",
            "enum": [
              "LOCATION",
              "MAILING",
              "PRIMARY",
              "SECONDARY",
              "BILLING",
              "SHIPPING",
              "WORK",
              "UNRECOGNIZED"
            ]
          },
          "address1": { "type": "string" },
          "address2": { "type": "string" },
          "address3": { "type": "string" },
          "city": { "type": "string" },
          "state": { "type": "string" },
          "postalCode": { "type": "string" }
        }
      },
      "ContactInfo": {
        "type": "object",
        "properties": {
          "name": { "$ref": "#/components/schemas/FullName" },
          "patientId": { "type": "string" },
          "addresses": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Address" }
          },
          "phoneNumbers": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PhoneNumber" }
          },
          "emails": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/EmailAddress" }
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "foundingDate": { "$ref": "#/components/schemas/Timestamp" },
          "address": { "$ref": "#/components/schemas/Address" },
          "website": { "type": "string" },
          "industry": { "type": "string" },
          "revenue": { "type": "number", "format": "double" },
          "logoUrl": { "type": "string" },
          "socialMediaLinks": {
            "type": "array",
            "properties": {
              "underlyingElements": {
                "type": "array",
                "items": { "type": "object" }
              },
              "unmodifiableView": {
                "type": "array",
                "properties": {
                  "underlyingElements": {
                    "type": "array",
                    "items": { "type": "object" }
                  },
                  "empty": { "type": "boolean" },
                  "first": { "type": "string" },
                  "last": { "type": "string" }
                },
                "items": { "type": "string" }
              },
              "empty": { "type": "boolean" },
              "first": { "type": "string" },
              "last": { "type": "string" },
              "modifiable": { "type": "boolean" }
            },
            "items": { "type": "string" }
          },
          "missionStatement": { "type": "string" },
          "visionStatement": { "type": "string" },
          "contacts": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ContactInfo" }
          },
          "created": { "$ref": "#/components/schemas/Timestamp" },
          "modified": { "$ref": "#/components/schemas/Timestamp" },
          "creator": { "type": "string" },
          "modifier": { "type": "string" }
        }
      },
      "UpdateOrganizationRequest": {
        "type": "object",
        "properties": {
          "organization": { "$ref": "#/components/schemas/Organization" }
        }
      },
      "UpdateOrganizationResponse": {
        "type": "object",
        "properties": {
          "organization": { "$ref": "#/components/schemas/Organization" }
        }
      },
      "CreateWorkspaceRequest": {
        "type": "object",
        "properties": {
          "workspace": { "$ref": "#/components/schemas/Workspace" }
        }
      },
      "CreateWorkspaceResponse": {
        "type": "object",
        "properties": {
          "workspace": { "$ref": "#/components/schemas/Workspace" }
        }
      },
      "ListWorkspacesResponse": {
        "type": "object",
        "properties": {
          "workspaces": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Workspace" }
          }
        }
      },
      "SignUpRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "IAM_USER_TYPE_UNSPECIFIED",
              "IAM_USER_TYPE_REGULAR",
              "IAM_USER_TYPE_SYSTEM",
              "IAM_USER_TYPE_TRIAL",
              "UNRECOGNIZED"
            ]
          },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "systemName": { "type": "string" },
          "username": { "type": "string" },
          "password": { "type": "string" },
          "organizationId": { "type": "string" },
          "workspaceId": { "type": "string" }
        }
      },
      "SignUpResponse": {
        "type": "object",
        "properties": { "iamUser": { "$ref": "#/components/schemas/IamUser" } }
      },
      "ChangePasswordRequest": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "oldPassword": { "type": "string" },
          "newPassword": { "type": "string" },
          "newPasswordConfirmation": { "type": "string" }
        }
      },
      "ChangePasswordResponse": {
        "type": "object",
        "properties": { "iamUser": { "$ref": "#/components/schemas/IamUser" } }
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "userName": { "type": "string" },
          "password": { "type": "string" }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": { "token": { "type": "string" } }
      },
      "ListIamUsersRequest": {
        "type": "object",
        "properties": {
          "pagination": { "$ref": "#/components/schemas/Pagination" }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "pageNumber": { "type": "integer", "format": "int32" },
          "pageSize": { "type": "integer", "format": "int32" },
          "sortAscending": { "type": "boolean" },
          "sort": { "type": "string" },
          "totalPages": { "type": "integer", "format": "int64" },
          "totalRecords": { "type": "integer", "format": "int64" }
        }
      },
      "ListIamUsersResponse": {
        "type": "object",
        "properties": {
          "pagination": { "$ref": "#/components/schemas/Pagination" },
          "iamUsers": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/IamUser" }
          }
        }
      },
      "UserExistsRequest": {
        "type": "object",
        "properties": { "id": { "type": "string" } }
      },
      "UserExistsResponse": {
        "type": "object",
        "properties": { "iamUser": { "$ref": "#/components/schemas/IamUser" } }
      },
      "PrivacyProtectionData": {
        "type": "object",
        "properties": {
          "encounterId": { "type": "string" },
          "dataType": { "type": "string" },
          "anonymizedData": { "type": "string" },
          "isDataEncrypted": { "type": "boolean" },
          "encryptionMethod": { "type": "string" },
          "dataRetentionPolicy": { "type": "string" },
          "hasDataSharingAgreement": { "type": "boolean" },
          "dataPurpose": { "type": "string" }
        }
      },
      "PrivacyProtectionDataRequest": {
        "type": "object",
        "properties": {
          "privacyProtectionData": {
            "$ref": "#/components/schemas/PrivacyProtectionData"
          }
        }
      },
      "SecurityResponse": {
        "type": "object",
        "properties": {
          "encounterId": { "type": "string" },
          "response": { "type": "string" }
        }
      },
      "CreateOrganizationRequest": {
        "type": "object",
        "properties": {
          "organization": { "$ref": "#/components/schemas/Organization" }
        }
      },
      "CreateOrganizationResponse": {
        "type": "object",
        "properties": {
          "organization": { "$ref": "#/components/schemas/Organization" }
        }
      },
      "ListOrganizationsResponse": {
        "type": "object",
        "properties": {
          "organizations": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Organization" }
          }
        }
      },
      "RealTimeMonitoringData": {
        "type": "object",
        "properties": {
          "encounterId": { "type": "string" },
          "monitoredEntity": { "type": "string" },
          "monitoringDetails": { "type": "string" },
          "monitoringStartTime": { "$ref": "#/components/schemas/Timestamp" },
          "monitoringEndTime": { "$ref": "#/components/schemas/Timestamp" },
          "triggeredAlerts": {
            "type": "array",
            "properties": {
              "underlyingElements": {
                "type": "array",
                "items": { "type": "object" }
              },
              "unmodifiableView": {
                "type": "array",
                "properties": {
                  "underlyingElements": {
                    "type": "array",
                    "items": { "type": "object" }
                  },
                  "empty": { "type": "boolean" },
                  "first": { "type": "string" },
                  "last": { "type": "string" }
                },
                "items": { "type": "string" }
              },
              "empty": { "type": "boolean" },
              "first": { "type": "string" },
              "last": { "type": "string" },
              "modifiable": { "type": "boolean" }
            },
            "items": { "type": "string" }
          },
          "monitoringFrequency": { "type": "string" },
          "isContinuousMonitoring": { "type": "boolean" },
          "responsibleMonitoringTeam": { "type": "string" }
        }
      },
      "RealTimeMonitoringDataRequest": {
        "type": "object",
        "properties": {
          "realTimeMonitoringData": {
            "$ref": "#/components/schemas/RealTimeMonitoringData"
          }
        }
      },
      "AnomalyDetectionData": {
        "type": "object",
        "properties": {
          "encounterId": { "type": "string" },
          "userId": { "type": "string" },
          "dataAccessPattern": { "type": "string" },
          "timeStamp": { "$ref": "#/components/schemas/Timestamp" },
          "anomaliesDetected": {
            "type": "array",
            "properties": {
              "underlyingElements": {
                "type": "array",
                "items": { "type": "object" }
              },
              "unmodifiableView": {
                "type": "array",
                "properties": {
                  "underlyingElements": {
                    "type": "array",
                    "items": { "type": "object" }
                  },
                  "empty": { "type": "boolean" },
                  "first": { "type": "string" },
                  "last": { "type": "string" }
                },
                "items": { "type": "string" }
              },
              "empty": { "type": "boolean" },
              "first": { "type": "string" },
              "last": { "type": "string" },
              "modifiable": { "type": "boolean" }
            },
            "items": { "type": "string" }
          },
          "sourceIp": { "type": "string" },
          "location": { "type": "string" },
          "affectedSystems": {
            "type": "array",
            "properties": {
              "underlyingElements": {
                "type": "array",
                "items": { "type": "object" }
              },
              "unmodifiableView": {
                "type": "array",
                "properties": {
                  "underlyingElements": {
                    "type": "array",
                    "items": { "type": "object" }
                  },
                  "empty": { "type": "boolean" },
                  "first": { "type": "string" },
                  "last": { "type": "string" }
                },
                "items": { "type": "string" }
              },
              "empty": { "type": "boolean" },
              "first": { "type": "string" },
              "last": { "type": "string" },
              "modifiable": { "type": "boolean" }
            },
            "items": { "type": "string" }
          },
          "severityLevel": { "type": "string" }
        }
      },
      "AnomalyDetectionDataRequest": {
        "type": "object",
        "properties": {
          "anomalyDetectionData": {
            "$ref": "#/components/schemas/AnomalyDetectionData"
          }
        }
      },
      "AuthorizationControlData": {
        "type": "object",
        "properties": {
          "encounterId": { "type": "string" },
          "userId": { "type": "string" },
          "dataAccessLevel": { "type": "string" },
          "accessGrantedBy": { "type": "string" },
          "accessScopes": {
            "type": "array",
            "properties": {
              "underlyingElements": {
                "type": "array",
                "items": { "type": "object" }
              },
              "unmodifiableView": {
                "type": "array",
                "properties": {
                  "underlyingElements": {
                    "type": "array",
                    "items": { "type": "object" }
                  },
                  "empty": { "type": "boolean" },
                  "first": { "type": "string" },
                  "last": { "type": "string" }
                },
                "items": { "type": "string" }
              },
              "empty": { "type": "boolean" },
              "first": { "type": "string" },
              "last": { "type": "string" },
              "modifiable": { "type": "boolean" }
            },
            "items": { "type": "string" }
          },
          "accessValidityPeriod": { "type": "string" },
          "isTemporaryAccess": { "type": "boolean" },
          "conditionalAccessParams": {
            "type": "array",
            "properties": {
              "underlyingElements": {
                "type": "array",
                "items": { "type": "object" }
              },
              "unmodifiableView": {
                "type": "array",
                "properties": {
                  "underlyingElements": {
                    "type": "array",
                    "items": { "type": "object" }
                  },
                  "empty": { "type": "boolean" },
                  "first": { "type": "string" },
                  "last": { "type": "string" }
                },
                "items": { "type": "string" }
              },
              "empty": { "type": "boolean" },
              "first": { "type": "string" },
              "last": { "type": "string" },
              "modifiable": { "type": "boolean" }
            },
            "items": { "type": "string" }
          }
        }
      },
      "AuthorizationControlDataRequest": {
        "type": "object",
        "properties": {
          "authorizationControlData": {
            "$ref": "#/components/schemas/AuthorizationControlData"
          }
        }
      },
      "UserBehaviorAnalysisData": {
        "type": "object",
        "properties": {
          "encounterId": { "type": "string" },
          "userId": { "type": "string" },
          "behaviorPattern": { "type": "string" },
          "associatedActivities": {
            "type": "array",
            "properties": {
              "underlyingElements": {
                "type": "array",
                "items": { "type": "object" }
              },
              "unmodifiableView": {
                "type": "array",
                "properties": {
                  "underlyingElements": {
                    "type": "array",
                    "items": { "type": "object" }
                  },
                  "empty": { "type": "boolean" },
                  "first": { "type": "string" },
                  "last": { "type": "string" }
                },
                "items": { "type": "string" }
              },
              "empty": { "type": "boolean" },
              "first": { "type": "string" },
              "last": { "type": "string" },
              "modifiable": { "type": "boolean" }
            },
            "items": { "type": "string" }
          },
          "analysisTimeFrame": { "type": "string" },
          "historicalBehaviorData": {
            "type": "array",
            "properties": {
              "underlyingElements": {
                "type": "array",
                "items": { "type": "object" }
              },
              "unmodifiableView": {
                "type": "array",
                "properties": {
                  "underlyingElements": {
                    "type": "array",
                    "items": { "type": "object" }
                  },
                  "empty": { "type": "boolean" },
                  "first": { "type": "string" },
                  "last": { "type": "string" }
                },
                "items": { "type": "string" }
              },
              "empty": { "type": "boolean" },
              "first": { "type": "string" },
              "last": { "type": "string" },
              "modifiable": { "type": "boolean" }
            },
            "items": { "type": "string" }
          },
          "riskAssessment": { "type": "string" },
          "isBehaviorOutlier": { "type": "boolean" },
          "behaviorConsequence": { "type": "string" }
        }
      },
      "UserBehaviorAnalysisDataRequest": {
        "type": "object",
        "properties": {
          "userBehaviorAnalysisData": {
            "$ref": "#/components/schemas/UserBehaviorAnalysisData"
          }
        }
      },
      "GetWorkspaceDetailsByIdResponse": {
        "type": "object",
        "properties": {
          "workspace": { "$ref": "#/components/schemas/Workspace" }
        }
      },
      "GetIamUserResponse": {
        "type": "object",
        "properties": { "iamUser": { "$ref": "#/components/schemas/IamUser" } }
      },
      "CurrentUserResponse": {
        "type": "object",
        "properties": { "iamUser": { "$ref": "#/components/schemas/IamUser" } }
      },
      "GetOrganizationDetailsByIdResponse": {
        "type": "object",
        "properties": {
          "organization": { "$ref": "#/components/schemas/Organization" }
        }
      },
      "DeleteIamUserResponse": {
        "type": "object",
        "properties": { "iamUser": { "$ref": "#/components/schemas/IamUser" } }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "name": "bearerAuth",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
