{
  "openapi": "3.0.1",
  "info": { "title": "OpenAPI definition", "version": "v0" },
  "servers": [
    {
      "url": "https://ec2-3-13-148-183.us-east-2.compute.amazonaws.com:8080/questionnaire",
      "description": "Generated server url"
    }
  ],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/system/questionnaire": {
      "put": {
        "tags": ["open-cdx-rest-questionnaire-controller"],
        "operationId": "updateQuestionnaireData",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuestionnaireDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SubmissionResponse" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["open-cdx-rest-questionnaire-controller"],
        "operationId": "createQuestionnaireData",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuestionnaireDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SubmissionResponse" }
              }
            }
          }
        }
      }
    },
    "/questionnaire": {
      "put": {
        "tags": ["open-cdx-rest-questionnaire-controller"],
        "operationId": "updateQuestionnaire",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/QuestionnaireRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Questionnaire" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["open-cdx-rest-questionnaire-controller"],
        "operationId": "createQuestionnaire",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/QuestionnaireRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Questionnaire" }
              }
            }
          }
        }
      }
    },
    "/client/questionnaire": {
      "put": {
        "tags": ["open-cdx-rest-questionnaire-controller"],
        "operationId": "updateClientQuestionnaireData",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientQuestionnaireDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SubmissionResponse" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["open-cdx-rest-questionnaire-controller"],
        "operationId": "createClientQuestionnaireData",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientQuestionnaireDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SubmissionResponse" }
              }
            }
          }
        }
      }
    },
    "/user/questionnaire": {
      "post": {
        "tags": ["open-cdx-rest-questionnaire-controller"],
        "operationId": "createUserQuestionnaireData",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserQuestionnaireDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SubmissionResponse" }
              }
            }
          }
        }
      }
    },
    "/user/questionnaire/list": {
      "post": {
        "tags": ["open-cdx-rest-questionnaire-controller"],
        "operationId": "getUserQuestionnaireDataList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetQuestionnaireListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserQuestionnaireDataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/system/questionnaire/list": {
      "post": {
        "tags": ["open-cdx-rest-questionnaire-controller"],
        "operationId": "getQuestionnaireDataList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetQuestionnaireListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemQuestionnaireData"
                }
              }
            }
          }
        }
      }
    },
    "/questionnaire/list": {
      "post": {
        "tags": ["open-cdx-rest-questionnaire-controller"],
        "operationId": "getQuestionnaires",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetQuestionnaireListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Questionnaires" }
              }
            }
          }
        }
      }
    },
    "/client/questionnaire/list": {
      "post": {
        "tags": ["open-cdx-rest-questionnaire-controller"],
        "operationId": "getClientQuestionnaireDataList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetQuestionnaireListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientQuestionnaireData"
                }
              }
            }
          }
        }
      }
    },
    "/user/questionnaire/{Id}": {
      "get": {
        "tags": ["open-cdx-rest-questionnaire-controller"],
        "operationId": "getUserQuestionnaire",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserQuestionnaireData"
                }
              }
            }
          }
        }
      }
    },
    "/system/questionnaire/{Id}": {
      "get": {
        "tags": ["open-cdx-rest-questionnaire-controller"],
        "operationId": "getSystemQuestionnaire",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemQuestionnaireData"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["open-cdx-rest-questionnaire-controller"],
        "operationId": "deleteSystemQuestionnaire",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SubmissionResponse" }
              }
            }
          }
        }
      }
    },
    "/questionnaire/{Id}": {
      "get": {
        "tags": ["open-cdx-rest-questionnaire-controller"],
        "operationId": "getQuestionnaire",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "updateAnswers",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Questionnaire" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["open-cdx-rest-questionnaire-controller"],
        "operationId": "deleteQuestionnaire",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SubmissionResponse" }
              }
            }
          }
        }
      }
    },
    "/questionnaire/refresh/{Id}": {
      "get": {
        "tags": ["open-cdx-rest-questionnaire-controller"],
        "operationId": "refreshQuestionnaire",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Questionnaire" }
              }
            }
          }
        }
      }
    },
    "/client/questionnaire/{Id}": {
      "get": {
        "tags": ["open-cdx-rest-questionnaire-controller"],
        "operationId": "getClientQuestionnaire",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientQuestionnaireData"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["open-cdx-rest-questionnaire-controller"],
        "operationId": "deleteClientQuestionnaire",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SubmissionResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "QuestionnaireData": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "status": { "type": "string" },
          "state": { "type": "string" },
          "questionJsonId": { "type": "string" },
          "questionAnfJson": { "type": "string" },
          "rulesEngineConfig": { "type": "string" },
          "created": { "$ref": "#/components/schemas/Timestamp" },
          "modified": { "$ref": "#/components/schemas/Timestamp" },
          "creator": { "type": "string" },
          "modifier": { "type": "string" }
        }
      },
      "QuestionnaireDataRequest": {
        "type": "object",
        "properties": {
          "questionnaireData": {
            "$ref": "#/components/schemas/QuestionnaireData"
          }
        }
      },
      "Timestamp": {
        "type": "object",
        "properties": {
          "seconds": { "type": "integer", "format": "int64" },
          "nanos": { "type": "integer", "format": "int32" }
        }
      },
      "SubmissionResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "id": { "type": "string" }
        }
      },
      "ANFStatement": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "time": { "$ref": "#/components/schemas/Measure" },
          "subjectOfRecord": { "$ref": "#/components/schemas/Participant" },
          "authors": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Practitioner" }
          },
          "subjectOfInformation": { "type": "string" },
          "associatedStatement": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AssociatedStatement" }
          },
          "topic": { "type": "string" },
          "type": { "type": "string" },
          "created": { "$ref": "#/components/schemas/Timestamp" },
          "modified": { "$ref": "#/components/schemas/Timestamp" },
          "creator": { "type": "string" },
          "modifier": { "type": "string" },
          "status": {
            "type": "string",
            "enum": [
              "STATUS_UNSPECIFIED",
              "STATUS_ACTIVE",
              "STATUS_DELETED",
              "UNRECOGNIZED"
            ]
          },
          "performanceCircumstance": {
            "$ref": "#/components/schemas/PerformanceCircumstance"
          },
          "requestCircumstance": {
            "$ref": "#/components/schemas/RequestCircumstance"
          },
          "narrativeCircumstance": {
            "$ref": "#/components/schemas/NarrativeCircumstance"
          }
        }
      },
      "AnfStatementConnector": {
        "type": "object",
        "properties": {
          "anfStatement": { "$ref": "#/components/schemas/ANFStatement" },
          "anfStatementType": {
            "type": "string",
            "enum": [
              "ANF_STATEMENT_TYPE_UNSPECIFIED",
              "ANF_STATEMENT_TYPE_MAIN",
              "ANF_STATEMENT_TYPE_ASSOCIATED",
              "ANF_STATEMENT_USER_QUESTION",
              "ANF_STATEMENT_TYPE_NOT_APPLICABLE",
              "UNRECOGNIZED"
            ]
          },
          "anfOperatorType": {
            "type": "string",
            "enum": [
              "ANF_OPERATOR_TYPE_UNSPECIFIED",
              "ANF_OPERATOR_TYPE_EQUAL",
              "ANF_OPERATOR_TYPE_NOT_EQUAL",
              "ANF_OPERATOR_TYPE_GREATER_THAN",
              "ANF_OPERATOR_TYPE_GREATER_THAN_OR_EQUAL",
              "ANF_OPERATOR_TYPE_LESS_THAN",
              "ANF_OPERATOR_TYPE_LESS_THAN_OR_EQUAL",
              "ANF_OPERATOR_TYPE_CONTAINS",
              "ANF_OPERATOR_TYPE_NOT_CONTAINS",
              "ANF_OPERATOR_TYPE_IN",
              "ANF_OPERATOR_TYPE_NOT_IN",
              "UNRECOGNIZED"
            ]
          },
          "operatorValue": { "type": "string" }
        }
      },
      "AnswerValue": {
        "type": "object",
        "properties": {
          "valueInteger": { "type": "integer", "format": "int32" },
          "valueDouble": { "type": "number", "format": "double" },
          "valueString": { "type": "string" },
          "valueBoolean": { "type": "boolean" },
          "valueCoding": { "$ref": "#/components/schemas/Coding" }
        }
      },
      "AssociatedStatement": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "semantic": { "type": "string" }
        }
      },
      "Code": {
        "type": "object",
        "properties": {
          "system": { "type": "string" },
          "code": { "type": "string" }
        }
      },
      "Coding": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "system": { "type": "string" },
          "version": { "type": "string" },
          "code": { "type": "string" },
          "display": { "type": "string" }
        }
      },
      "Extension": {
        "type": "object",
        "properties": {
          "url": { "type": "string" },
          "valueDecimal": { "type": "number", "format": "double" },
          "valueCodeableConcept": { "$ref": "#/components/schemas/Coding" }
        }
      },
      "Measure": {
        "type": "object",
        "properties": {
          "upperBound": { "type": "string" },
          "lowerBound": { "type": "string" },
          "includeUpperBound": { "type": "boolean" },
          "includeLowerBound": { "type": "boolean" },
          "semantic": { "type": "string" },
          "resolution": { "type": "string" }
        }
      },
      "NarrativeCircumstance": {
        "type": "object",
        "properties": {
          "timing": { "$ref": "#/components/schemas/Measure" },
          "purpose": {
            "type": "array",
            "properties": {
              "underlyingElements": {
                "type": "array",
                "items": { "type": "object" }
              },
              "unmodifiableView": {
                "type": "array",
                "properties": {
                  "underlyingElements": {
                    "type": "array",
                    "items": { "type": "object" }
                  },
                  "empty": { "type": "boolean" },
                  "first": { "type": "string" },
                  "last": { "type": "string" }
                },
                "items": { "type": "string" }
              },
              "empty": { "type": "boolean" },
              "first": { "type": "string" },
              "last": { "type": "string" },
              "modifiable": { "type": "boolean" }
            },
            "items": { "type": "string" }
          },
          "text": { "type": "string" }
        }
      },
      "Participant": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "practitionerValue": { "type": "string" },
          "code": { "type": "string" }
        }
      },
      "PerformanceCircumstance": {
        "type": "object",
        "properties": {
          "timing": { "$ref": "#/components/schemas/Measure" },
          "purpose": {
            "type": "array",
            "properties": {
              "underlyingElements": {
                "type": "array",
                "items": { "type": "object" }
              },
              "unmodifiableView": {
                "type": "array",
                "properties": {
                  "underlyingElements": {
                    "type": "array",
                    "items": { "type": "object" }
                  },
                  "empty": { "type": "boolean" },
                  "first": { "type": "string" },
                  "last": { "type": "string" }
                },
                "items": { "type": "string" }
              },
              "empty": { "type": "boolean" },
              "first": { "type": "string" },
              "last": { "type": "string" },
              "modifiable": { "type": "boolean" }
            },
            "items": { "type": "string" }
          },
          "status": { "type": "string" },
          "result": { "$ref": "#/components/schemas/Measure" },
          "healthRisk": { "type": "string" },
          "normalRange": { "$ref": "#/components/schemas/Measure" },
          "participant": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Participant" }
          }
        }
      },
      "Practitioner": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "practitionerValue": { "type": "string" },
          "code": { "type": "string" }
        }
      },
      "Questionnaire": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "resourceType": { "type": "string" },
          "title": { "type": "string" },
          "status": {
            "type": "string",
            "enum": ["draft", "active", "retired", "unknown", "UNRECOGNIZED"]
          },
          "description": { "type": "string" },
          "purpose": { "type": "string" },
          "item": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/QuestionnaireItem" }
          },
          "ruleId": { "type": "string" },
          "ruleQuestionId": {
            "type": "array",
            "properties": {
              "underlyingElements": {
                "type": "array",
                "items": { "type": "object" }
              },
              "unmodifiableView": {
                "type": "array",
                "properties": {
                  "underlyingElements": {
                    "type": "array",
                    "items": { "type": "object" }
                  },
                  "empty": { "type": "boolean" },
                  "first": { "type": "string" },
                  "last": { "type": "string" }
                },
                "items": { "type": "string" }
              },
              "empty": { "type": "boolean" },
              "first": { "type": "string" },
              "last": { "type": "string" },
              "modifiable": { "type": "boolean" }
            },
            "items": { "type": "string" }
          },
          "created": { "$ref": "#/components/schemas/Timestamp" },
          "modified": { "$ref": "#/components/schemas/Timestamp" },
          "creator": { "type": "string" },
          "modifier": { "type": "string" },
          "version": { "type": "string" }
        }
      },
      "QuestionnaireEnableWhen": {
        "type": "object",
        "properties": {
          "question": { "type": "string" },
          "operator": { "type": "string" },
          "answerCoding": { "$ref": "#/components/schemas/Coding" },
          "answerInteger": { "type": "integer", "format": "int32" },
          "answerDouble": { "type": "number", "format": "double" },
          "answerBoolean": { "type": "boolean" }
        }
      },
      "QuestionnaireItem": {
        "type": "object",
        "properties": {
          "type": { "type": "string" },
          "linkId": { "type": "string" },
          "text": { "type": "string" },
          "enableWhen": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/QuestionnaireEnableWhen" }
          },
          "enableBehavior": { "type": "string" },
          "required": { "type": "boolean" },
          "repeats": { "type": "boolean" },
          "readOnly": { "type": "boolean" },
          "code": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Code" }
          },
          "extension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QuestionnaireItemExtension"
            }
          },
          "answerOption": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QuestionnaireItemAnswerOption"
            }
          },
          "initial": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/QuestionnaireItemInitial" }
          },
          "anfStatementConnector": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AnfStatementConnector" }
          },
          "answer": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AnswerValue" }
          }
        }
      },
      "QuestionnaireItemAnswerOption": {
        "type": "object",
        "properties": {
          "valueCoding": { "$ref": "#/components/schemas/Coding" },
          "initialSelected": { "type": "boolean" },
          "extension": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Extension" }
          }
        }
      },
      "QuestionnaireItemExtension": {
        "type": "object",
        "properties": {
          "url": { "type": "string" },
          "valueCodeableConcept": {
            "$ref": "#/components/schemas/ValueCodeableConcept"
          },
          "valueCoding": { "$ref": "#/components/schemas/Coding" },
          "valueInteger": { "type": "integer", "format": "int32" },
          "valueDecimal": { "type": "number", "format": "double" }
        }
      },
      "QuestionnaireItemInitial": {
        "type": "object",
        "properties": {
          "valueBoolean": { "type": "boolean" },
          "valueInteger": { "type": "integer", "format": "int32" },
          "valueDecimal": { "type": "number", "format": "double" }
        }
      },
      "QuestionnaireRequest": {
        "type": "object",
        "properties": {
          "questionnaire": { "$ref": "#/components/schemas/Questionnaire" }
        }
      },
      "Repetition": {
        "type": "object",
        "properties": {
          "periodStart": { "$ref": "#/components/schemas/Timestamp" },
          "periodDuration": { "type": "integer", "format": "int32" },
          "periodDurationType": {
            "type": "string",
            "enum": [
              "DURATION_TYPE_NOT_SPECIFIED",
              "DURATION_TYPE_MILLISECONDS",
              "DURATION_TYPE_SECONDS",
              "DURATION_TYPE_MINUTES",
              "DURATION_TYPE_HOURS",
              "DURATION_TYPE_DAYS",
              "DURATION_TYPE_WEEKS",
              "DURATION_TYPE_MONTHS",
              "DURATION_TYPE_YEARS",
              "UNRECOGNIZED"
            ]
          },
          "eventFrequency": { "type": "integer", "format": "int32" },
          "eventFrequencyType": {
            "type": "string",
            "enum": [
              "DURATION_TYPE_NOT_SPECIFIED",
              "DURATION_TYPE_MILLISECONDS",
              "DURATION_TYPE_SECONDS",
              "DURATION_TYPE_MINUTES",
              "DURATION_TYPE_HOURS",
              "DURATION_TYPE_DAYS",
              "DURATION_TYPE_WEEKS",
              "DURATION_TYPE_MONTHS",
              "DURATION_TYPE_YEARS",
              "UNRECOGNIZED"
            ]
          },
          "eventSeparation": { "type": "integer", "format": "int32" },
          "eventSeparationType": {
            "type": "string",
            "enum": [
              "DURATION_TYPE_NOT_SPECIFIED",
              "DURATION_TYPE_MILLISECONDS",
              "DURATION_TYPE_SECONDS",
              "DURATION_TYPE_MINUTES",
              "DURATION_TYPE_HOURS",
              "DURATION_TYPE_DAYS",
              "DURATION_TYPE_WEEKS",
              "DURATION_TYPE_MONTHS",
              "DURATION_TYPE_YEARS",
              "UNRECOGNIZED"
            ]
          },
          "eventDuration": { "type": "integer", "format": "int32" },
          "eventDurationType": {
            "type": "string",
            "enum": [
              "DURATION_TYPE_NOT_SPECIFIED",
              "DURATION_TYPE_MILLISECONDS",
              "DURATION_TYPE_SECONDS",
              "DURATION_TYPE_MINUTES",
              "DURATION_TYPE_HOURS",
              "DURATION_TYPE_DAYS",
              "DURATION_TYPE_WEEKS",
              "DURATION_TYPE_MONTHS",
              "DURATION_TYPE_YEARS",
              "UNRECOGNIZED"
            ]
          }
        }
      },
      "RequestCircumstance": {
        "type": "object",
        "properties": {
          "timing": { "$ref": "#/components/schemas/Measure" },
          "purpose": {
            "type": "array",
            "properties": {
              "underlyingElements": {
                "type": "array",
                "items": { "type": "object" }
              },
              "unmodifiableView": {
                "type": "array",
                "properties": {
                  "underlyingElements": {
                    "type": "array",
                    "items": { "type": "object" }
                  },
                  "empty": { "type": "boolean" },
                  "first": { "type": "string" },
                  "last": { "type": "string" }
                },
                "items": { "type": "string" }
              },
              "empty": { "type": "boolean" },
              "first": { "type": "string" },
              "last": { "type": "string" },
              "modifiable": { "type": "boolean" }
            },
            "items": { "type": "string" }
          },
          "conditionalTrigger": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AssociatedStatement" }
          },
          "requestedParticipant": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Participant" }
          },
          "priority": {
            "type": "string",
            "enum": ["ROUTINE", "STAT", "UNRECOGNIZED"]
          },
          "requestedResult": { "$ref": "#/components/schemas/Measure" },
          "repetition": { "$ref": "#/components/schemas/Repetition" }
        }
      },
      "ValueCodeableConcept": {
        "type": "object",
        "properties": {
          "text": { "type": "string" },
          "coding": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Coding" }
          }
        }
      },
      "ClientQuestionnaireData": {
        "type": "object",
        "properties": {
          "questionnaireData": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/QuestionnaireData" }
          },
          "organizationId": { "type": "string" },
          "workspaceId": { "type": "string" },
          "ruleId": { "type": "string" }
        }
      },
      "ClientQuestionnaireDataRequest": {
        "type": "object",
        "properties": {
          "clientQuestionnaireData": {
            "$ref": "#/components/schemas/ClientQuestionnaireData"
          }
        }
      },
      "UserQuestionnaireData": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "patientId": { "type": "string" },
          "questionnaireData": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Questionnaire" }
          }
        }
      },
      "UserQuestionnaireDataRequest": {
        "type": "object",
        "properties": {
          "userQuestionnaireData": {
            "$ref": "#/components/schemas/UserQuestionnaireData"
          }
        }
      },
      "GetQuestionnaireListRequest": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "pagination": { "$ref": "#/components/schemas/Pagination" },
          "updateAnswers": { "type": "boolean" }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "pageNumber": { "type": "integer", "format": "int32" },
          "pageSize": { "type": "integer", "format": "int32" },
          "sortAscending": { "type": "boolean" },
          "sort": { "type": "string" },
          "totalPages": { "type": "integer", "format": "int64" },
          "totalRecords": { "type": "integer", "format": "int64" }
        }
      },
      "UserQuestionnaireDataResponse": {
        "type": "object",
        "properties": {
          "list": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/UserQuestionnaireData" }
          },
          "pagination": { "$ref": "#/components/schemas/Pagination" }
        }
      },
      "SystemQuestionnaireData": {
        "type": "object",
        "properties": {
          "questionnaireData": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/QuestionnaireData" }
          }
        }
      },
      "Questionnaires": {
        "type": "object",
        "properties": {
          "questionnaires": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Questionnaire" }
          },
          "pagination": { "$ref": "#/components/schemas/Pagination" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "name": "bearerAuth",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
